<h1> <%= @message.theme %></h1>
<p> From: <%=@message.name %> </p>
<p> Email: <%=@message.email %> </p>
<p> Phone: <%=@message.phone_number %> </p>
<br>
<p> <%=@message.text%></p>
<p> <%=@message.created_at%> </p>
