<table>
	<tr>
		<th>Название:</th>
		<td> <%= f.text_field(:name, :id => 'name', :onchange => 'generatePermalink()') %> </td>
	</tr>
	<tr>
		<th>Текст:</th>
		<td> 
			<%= f.hidden_field(:text) %>
			<div id="editor"><%= raw f.object.text %></div>	
		</td>
	</tr>
	<tr>
		<td>Изображения:</td>
		<td><%= f.file_field :images, multiple: true %>
	</tr>
	<tr>
		<td>Permalink</td>
		<td><%= f.text_field(:permalink, :id => 'permalink') %></td>
	</tr>
	<tr>
		<td>Tags</td>
		<td><%= f.text_field(:tags, :value => f.object.tags.collect{ |tag| tag.tag_name }.join(', ') ) %>
</tr>
</table>

<script src="https://cdn.quilljs.com/1.2.4/quill.js"></script>
<script>
var quill = new Quill('#editor', {
	theme: 'snow'
});
var form = document.querySelector('form');
form.onsubmit = function() {
	// Populate hidden form on submit
	var text = document.querySelector('input#post_text');
	text.value = quill.root.innerHTML;
};
</script>
