<%= javascript_include_tag 'show_post', 'data-turbolinks-track': 'reload' %>

<% @active = :blog %>
<div class="container-fluid">
  <div class="row-fluid"> 
    <div class="col col-xl-10 col-lg-9 col-md-9 col-sm-9">
			<div class="left-side">
				<p class="header"> <%= @post.name %></p>
				<p class="date"><%= @post.created_at.strftime('%d %b %Y')%></p>
				<% @post.images.each do |image| %>
					<%= image_tag(image.url.to_s, :class => 'post-image') %>
			<% end %>
      <br>
      <span class="text"><%= raw(@post.text) %></span>
			<div class="tags">
				<%= raw @post.tags.collect{ |tag| link_to(tag.tag_name, search_path(:tag => tag.tag_name)) }.join(', ') %>
			</div>
			</div>
    </div>
    <div class="col col-xl-2 col-lg-3 col-md-3 col-sm-3">
      <div class="right-side">
        <div class="face">
          <%=image_tag('face.jpg')%>
        </div>
        <hr class="dash">
        <center>
					<p align="middle"> Привет! Меня зовут Элина.Я занимаюсь каллиграфией и леттерингом.</p><p> Welcome to Elis Type, my space for hand lettering and calligraphy</p>
        </center>
        <hr class="dash">

        <div class="icons">
					<a href="https://www.youtube.com/channel/UC9TnoM5b7dGO_-G2tgu6_qA"><div class="ico youtube"></div></a>
					<a href="https://ru.pinterest.com/elistypedesign/"><div class="ico pinterest"></div></a>
					<a href="https://www.instagram.com/elis.type/"><div class="ico instagram"></div></a>
					<a href="https://vk.com/elistypedesign"><div class="ico vk"></div></a>
					<!-- <div class="ico behance"></div> -->
        </div>
        <hr class="dash">
        <div class="image-links">
          <%=image_tag('youtube-link.png')%>
        </div>
        <hr class="dash">
				<div class="tag-list">
				<div id="categories">CATEGORIES</div> 
					<div id="tags-categories">
						<hr>
					<ul>
					<% @tags.each do |tag| %>
						<li><%= link_to(tag.tag_name.capitalize, search_path(:tag => tag.tag_name)) %></li>
					<% end %>
					</ul>
					</div>
				</div>
        <hr class="dash">
        <p> I would love to create smth that I will inspire you daily.</p>
        </div>
      </div>
    </div>
  </div>
