<!DOCTYPE html>
<html>
<head>
<meta name="yandex-verification" content="67fb1cb300877f3e" />
  <title>Elis Type</title>
  <%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div id="body-content">
    <img src="/logo.png" id="logo" alt="Logo">
    <div class="container hat">
      <div class="row-fluid">
        <div class="navbar navbar-default center">
          <div class="navbar-header">
          </div>
          <ul class="nav navbar-nav">
            <li <%= active?(@active, :home) %> id="menu-element"><%= link_to('HOME', root_path)%></li>
            <li <%= active?(@active, :blog) %> id="menu-element"><%= link_to('BLOG', blog_path) %></li>
						<!-- <li <%= active?(@active, :shop) %> id="menu-element"><%= link_to('SHOP', shop_path) %></li> -->
            <li <%= active?(@active, :portfolio) %> id="menu-element"><%= link_to('PORTFOLIO', portfolio_path) %></li>
            <li <%= active?(@active, :about) %> id="menu-element"><%= link_to('ABOUT', about_path) %></li>
            <li <%= active?(@active, :contacts) %> id="menu-element"><%= link_to('CONTACT ME', contacts_path) %></li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="devider">
      <% if !flash[:notice].blank? %>
      <div class="notice">
        <%= flash[:notice] %>
      </div>
      <% end %>
    <%= yield %>
  </div>
</body>

<footer>
  <hr class="devider">
  <div class="icons">
		<a href="https://www.youtube.com/channel/UC9TnoM5b7dGO_-G2tgu6_qA"><div class="ico youtube"></div></a>
		<a href="https://ru.pinterest.com/elistypedesign/"><div class="ico pinterest"></div></a>
		<a href="https://www.instagram.com/elis.type/"><div class="ico instagram"></div></a>
		<a href="https://vk.com/elistypedesign"><div class="ico vk"></div></a>
		<!--    <div class="ico behance"></div> -->
    <!--  <div class="ico facebook"></div> -->
  </div>
</footer>
</html>
